<!DOCTYPE html>
<html>
<head>
  <title>Relatefoundation</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
Body field
<%= yield %>

</body>
</html>
