<!DOCTYPE html>
<html>
<head>
  <title>Checkout - The RELATE Institute</title>
  <%= stylesheet_link_tag "checkout" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="shadowLeft">
    <div class="shadowRight">
      <div class="container">

<%= yield %>

      </div><!-- container -->
    </div><!-- shadowRight -->
  </div><!-- shadowLeft -->
</body>
</html>
